@font-face {
  font-family: "PublicSans";
  src: local("PublicSans");
  src: url("../fonts/PublicSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "LibreBaskerville";
  src: local("LibreBaskerville");
  src: url("../fonts/LibreBaskerville-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

/* line 26, ../Recidiviz/src/sass/style.sass */
html {
  font-family: "PublicSans", sans-serif;
  box-sizing: border-box;
}

/* line 30, ../Recidiviz/src/sass/style.sass */
.page {
  height: 100%;
}

/* line 34, ../Recidiviz/src/sass/style.sass */
.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1182px;
}

/* line 39, ../Recidiviz/src/sass/style.sass */
.header {
  padding: 17px 0;
}

/* line 41, ../Recidiviz/src/sass/style.sass */
.header__container {
  max-width: 1152px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* line 46, ../Recidiviz/src/sass/style.sass */
.header_position {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
}

/* line 53, ../Recidiviz/src/sass/style.sass */
.nav {
  display: flex;
  align-items: center;
  padding-right: 16px;
}

/* line 57, ../Recidiviz/src/sass/style.sass */
.nav__list {
  display: inline-flex;
  align-items: center;
  margin-right: 32px;
  gap: 51px;
}

/* line 62, ../Recidiviz/src/sass/style.sass */
.nav__link {
  font-size: 13px;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

/* line 67, ../Recidiviz/src/sass/style.sass */
.nav__link:focus {
  outline: none;
}

/* line 69, ../Recidiviz/src/sass/style.sass */
.nav__link:hover {
  color: #00A1FF;
}

/* line 71, ../Recidiviz/src/sass/style.sass */
.nav__link:active {
  color: #00A1FF;
}

/* line 74, ../Recidiviz/src/sass/style.sass */
.nav__link.focus-visible {
  outline: 1px solid #E00E00;
  outline-offset: 3px;
}

/* line 78, ../Recidiviz/src/sass/style.sass */
.grid {
  display: grid;
  column-gap: 32px;
  grid-template-columns: repeat(12, 1fr);
}

/* line 84, ../Recidiviz/src/sass/style.sass */
.hero {
  display: flex;
  flex-direction: column;
  padding-top: 190px;
  padding-bottom: 40px;
  min-height: 776px;
  color: #fff;
  background-image: url("../img/hero-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 95, ../Recidiviz/src/sass/style.sass */
.hero__container {
  margin-bottom: 32px;
}

/* line 97, ../Recidiviz/src/sass/style.sass */
.hero__content {
  grid-column: 6 span;
}

/* line 99, ../Recidiviz/src/sass/style.sass */
.hero__title {
  margin: 0;
  margin-bottom: 29px;
  font-family: LibreBaskerville;
  font-weight: 400;
  font-size: 38px;
  line-height: 44px;
  letter-spacing: 1.2px;
}

/* line 107, ../Recidiviz/src/sass/style.sass */
.hero__descr {
  margin: 0;
  margin-bottom: 29px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

/* line 113, ../Recidiviz/src/sass/style.sass */
.hero__bottom-container {
  margin-top: auto;
  width: 100%;
}

/* line 116, ../Recidiviz/src/sass/style.sass */
.hero__subtitle {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

/* line 122, ../Recidiviz/src/sass/style.sass */
.hero__item {
  grid-column: 2 span;
}

/* line 124, ../Recidiviz/src/sass/style.sass */
.hero__link {
  display: block;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  padding-top: 17px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

/* line 134, ../Recidiviz/src/sass/style.sass */
.hero__link:focus {
  outline: none;
}

/* line 136, ../Recidiviz/src/sass/style.sass */
.hero__link:hover {
  border-color: #00A1FF;
  color: #00A1FF;
}

/* line 139, ../Recidiviz/src/sass/style.sass */
.hero__link:active {
  border-color: #E00E00;
  color: #E00E00;
}

/* line 144, ../Recidiviz/src/sass/style.sass */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 80px;
  padding: 17px 33px;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.02px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

/* line 158, ../Recidiviz/src/sass/style.sass */
.btn:focus {
  outline: none;
}

/* line 160, ../Recidiviz/src/sass/style.sass */
.btn:hover {
  border-color: #00A1FF;
  background-color: #00A1FF;
}

/* line 163, ../Recidiviz/src/sass/style.sass */
.btn:active {
  border-color: #E00E00;
  background-color: #E00E00;
}

/* line 167, ../Recidiviz/src/sass/style.sass */
.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 172, ../Recidiviz/src/sass/style.sass */
.steps {
  padding: 120px 0;
  background-color: #fff;
}

/* line 175, ../Recidiviz/src/sass/style.sass */
.steps__title {
  margin: 0 auto;
  margin-bottom: 57px;
  max-width: 720px;
  font-family: "LibreBaskerville";
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: 1.2px;
  text-align: center;
}

/* line 185, ../Recidiviz/src/sass/style.sass */
.steps__list {
  counter-reset: steps;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 758px;
}

/* line 191, ../Recidiviz/src/sass/style.sass */
.steps__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 195, ../Recidiviz/src/sass/style.sass */
.steps__item::before {
  counter-increment: steps;
  content: counter(steps);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 28px;
  border-radius: 100%;
  width: 48px;
  height: 48px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  background: #014c48;
}

/* line 211, ../Recidiviz/src/sass/style.sass */
.steps__item_line {
  position: relative;
  flex-grow: 1;
}

/* line 214, ../Recidiviz/src/sass/style.sass */
.steps__item_line::before {
  display: none;
}

/* line 216, ../Recidiviz/src/sass/style.sass */
.steps__item_line::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -35px;
  width: 100%;
  height: 1px;
  background: rgba(53, 83, 98, 0.2);
  transform: translateY(-50%);
}

/* line 226, ../Recidiviz/src/sass/style.sass */
.steps__descr {
  margin: 0;
  max-width: 142px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: rgba(53, 83, 98, 0.8);
}

/* line 236, ../Recidiviz/src/sass/style.sass */
.approach__top {
  padding: 80px;
  background-color: #f7f8f8;
}

/* line 239, ../Recidiviz/src/sass/style.sass */
.approach__left {
  grid-column: 5 span;
  padding-top: 33px;
}

/* line 242, ../Recidiviz/src/sass/style.sass */
.approach__right {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  grid-column: 7 / 6 span;
  gap: 8px;
}

/* line 248, ../Recidiviz/src/sass/style.sass */
.approach__title {
  margin: 0;
  margin-bottom: 13px;
  font-weight: 400;
  font-size: 22px;
  line-height: 22px;
  color: #003331;
}

/* line 255, ../Recidiviz/src/sass/style.sass */
.approach__descr {
  margin: 0;
  margin-bottom: 37px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #355362;
}

/* line 262, ../Recidiviz/src/sass/style.sass */
.approach__btn {
  border: 1px solid rgba(53, 83, 98, 0.2);
  padding: 16px 34px;
  color: #00413e;
}

/* line 266, ../Recidiviz/src/sass/style.sass */
.approach__bottom {
  padding: 24px 0;
  background-color: #fff;
}

/* line 269, ../Recidiviz/src/sass/style.sass */
.approach__item {
  grid-column: 2 span;
}

/* line 271, ../Recidiviz/src/sass/style.sass */
.approach__link {
  display: block;
  border-top: 1px solid rgba(53, 83, 98, 0.3);
  padding-top: 16px;
  padding-left: 32px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-decoration: none;
  color: #355362;
  background-position: left top 15px;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

/* line 285, ../Recidiviz/src/sass/style.sass */
.approach__link_ted {
  background-image: url("../img/approach-icon-1.png");
}

/* line 287, ../Recidiviz/src/sass/style.sass */
.approach__link_nyt {
  background-image: url("../img/approach-icon-2.png");
}

/* line 289, ../Recidiviz/src/sass/style.sass */
.approach__link_scoop {
  background-image: url("../img/approach-icon-3.png");
}

/* line 291, ../Recidiviz/src/sass/style.sass */
.approach__link_press {
  background-image: url("../img/approach-icon-4.png");
}

/* line 293, ../Recidiviz/src/sass/style.sass */
.approach__link_time {
  background-image: url("../img/approach-icon-5.png");
}

/* line 295, ../Recidiviz/src/sass/style.sass */
.approach__link_freethink {
  background-image: url("../img/approach-icon-6.png");
}

/* line 297, ../Recidiviz/src/sass/style.sass */
.approach__link:focus {
  outline: none;
}

/* line 299, ../Recidiviz/src/sass/style.sass */
.approach__link:hover {
  border-color: #00A1FF;
  color: #00A1FF;
}

/* line 302, ../Recidiviz/src/sass/style.sass */
.approach__link:active {
  border-color: #E00E00;
  color: #E00E00;
}

/* line 306, ../Recidiviz/src/sass/style.sass */
.info {
  position: relative;
  display: flex;
  height: 680px;
  background-color: #001414;
}

/* line 311, ../Recidiviz/src/sass/style.sass */
.info::before {
  content: "";
  flex-shrink: 0;
  width: 287px;
  height: 100%;
  background-image: url("../img/info-1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 320, ../Recidiviz/src/sass/style.sass */
.info::after {
  content: "";
  flex-shrink: 0;
  width: 287px;
  height: 100%;
  background-image: url("../img/info-2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 329, ../Recidiviz/src/sass/style.sass */
.info__content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #003331;
  border-left: 1px solid #003331;
  padding: 0 82px;
  height: 100%;
}

/* line 339, ../Recidiviz/src/sass/style.sass */
.info__text {
  max-width: 542px;
}

/* line 341, ../Recidiviz/src/sass/style.sass */
.info__title {
  margin: 0 auto;
  margin-bottom: 21px;
  font-weight: 400;
  font-size: 22px;
  line-height: 22px;
  color: #fff;
}

/* line 348, ../Recidiviz/src/sass/style.sass */
.info__descr {
  margin: 0 auto;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #fff;
}

/* line 355, ../Recidiviz/src/sass/style.sass */
.partners {
  padding: 16px 0;
}

/* line 357, ../Recidiviz/src/sass/style.sass */
.partners__container {
  display: flex;
  align-items: center;
  gap: 6px;
}

/* line 361, ../Recidiviz/src/sass/style.sass */
.partners__list {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* line 365, ../Recidiviz/src/sass/style.sass */
.partners__title {
  margin: 0;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #355362;
}

/* line 373, ../Recidiviz/src/sass/style.sass */
.partners__more {
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #355362;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

/* line 382, ../Recidiviz/src/sass/style.sass */
.partners__more:focus {
  outline: none;
}

/* line 384, ../Recidiviz/src/sass/style.sass */
.partners__more:hover {
  color: #00A1FF;
}

/* line 386, ../Recidiviz/src/sass/style.sass */
.partners__more:active {
  color: #00A1FF;
}

/*# sourceMappingURL=style.css.map */